node_modules
samples/commonjs/node_modules
samples/commonjs/debug.log
samples/commonjs/.witsconfig.json
samples/commonjs/dist
samples/typescript/node_modules
samples/typescript/debug.log
samples/typescript/.witsconfig.json
samples/typescript/dist